body {
    background-color: rgb(230,230,230);
}

.center-mind {
  position: absolute;
  left: 50%;
  top: 50%;  
  transform: translate(-50%, -50%); 
  min-width: 180px;
}

.table{
    background-color: ghostwhite;
}

.flex-container {
  display: flex;   
}

.flex-container div {  
  margin: 10px;
  padding: 20px;
  
}

.input-group-prepend{
    width: 20%;
}
.input-group-prepend label {
  width: 100%;
  overflow: hidden;
}

.mycontainer{
    width: 90%;
    margin: auto;        
}

.container{
    margin-top: 20px;
}

.d-flex{
    justify-content: center;
}

.mycontainer .container{
    display: none;
}

.mycontainer button{
   letter-spacing: 0.9em;
   text-align: center;
   text-indent: 0.9em;   
   text-transform: uppercase;
}

.tabloRowContaier{   
    margin: auto;
    padding: 15px;       
}

.tablopositiontext{    
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 15px;
    padding-left: 40px;    
    border-bottom: 2px solid #ccc;
    
}


.tabloImageBox{      
    position: relative;
    width: 250px;
    height: 250px;    
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    transition: 0.5s;
}

.tabloImageBox:hover{   
    background-size: 110%;    
}

.tabloImageBox:after{  
    position: absolute;
    top: 85%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    padding: 0 8px;
    content:attr(data-text);    
    transition: 0.5s;
}

.tabloImageBoxWork:after{
    background-color: rgba(0,128,0,0.9);
}

.tabloImageBox:hover:after{
    top: 0;
    padding: 8px;    
    background-color: rgba(0,0,0,0.8);
    border-radius: 15px;
}

.tabloImageBox:first-line{
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

.tabloImageBoxActive{
    -webkit-box-shadow: 0px 0px 41px 0px rgba(64,255,0,0.81);
    -moz-box-shadow: 0px 0px 41px 0px rgba(64,255,0,0.81);
    box-shadow: 0px 0px 41px 0px rgba(64,255,0,0.81);
    margin: 20px;    
}

#myTable td {
    min-width: 35px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em;
 
}

#myTable td:first-child{
    padding-left: 5px;
}