@font-face {
    font-family: myFirstFont;
    src:url(Amiko-Regular.ttf);
    /*src:url(ModernAntiqua-Regular.ttf);*/
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: myFirstFont;
    background-color: rgb(230,230,230);
    /*background: url(../images/leaves-108969_1920.jpg) no-repeat center center fixed;       
    background-size: cover;     */
}

a:link, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
}
.table{
    background-color: ghostwhite;
}

#filtered-intervall{
    display: block;
    padding-left: 10px;
    margin-top: 20px;
}
.input-group-prepend label {
    width: 200px;
    overflow: hidden;
}

.form-box{
    width: 80%;
    margin: auto;  
    margin-bottom: 40px;
}

.mycontainer{
    padding: 20px;    
    width: 90%;
    margin: auto;     
}

.container{
    margin-top: 20px;   
}

.d-flex{
    justify-content: center;
}

.filter-icon{
    position: fixed;
    bottom: 70px;
    right: 100px;
    width: 50px;
    height: 50px;  
    background-color: rgba(230,0,22,0.7);
    border-radius: 50%;
    cursor: pointer;
    z-index: 99999;
}
.filter-icon:hover{   
    background-color: rgba(230,0,22,0.9);
    transition: 0.4s;
}
.filter-icon p{    
    color: white;
    text-align: center;    
    line-height: 50px;
    font-size: 30px;
    padding: 0;    
    text-shadow: 2px 2px rgba(30,30,30,0.6);
}
#filter-box{
    display: none;       
    background: rgba(12, 12, 12, 0.5);
    position: relative;    
    min-width: 1fr;
    padding: 30px;
    border-radius: 15px;
}

input[type=submit] {
    padding:5px 15px;    
    border: 0 none;
    cursor:pointer;    
    margin-left: 20px;    
}

/*TABLO*/
.tabloRowContaier{   
    background-color: rgba(0,0,0,0.1);
    margin: auto;
    padding: 15px;     

}

.tablopositiontext{    
    color: rgb(53,58,65);
    background: ghostwhite;    
    padding-left: 40px;           
    margin-top: 20px;    
    border-radius: 20px 20px 0 0px;    
}

.tablopositiontext h2{    
    margin: 0;
    padding: 0;
}

.tabloImageBox{      
    position: relative;
    width: 230px;
    height: 230px;    
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    transition: 0.5s;
}
.tabloImageBox:hover{   
    background-size: 110%;    
}
.tabloImageBox:after{  
    position: absolute;
    top: 87%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    overflow: hidden;
    background-color: rgba(53,58,65,0.9);
    color: #fff;
    padding: 0 8px;
    content:attr(data-text);    
    transition: 0.5s;
}
.tabloImageBoxWork:after{
    background-color: rgba(0,128,0,0.9);
}
.tabloImageBox:hover:after{
    top: 0;
    padding: 8px;    
    background-color: rgba(53,58,65,0.9);
    border-radius: 15px;
}
.tabloImageBox:first-line{
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}



/*TELJES BEOSZTÃS*/
#myTable td {
    min-width: 35px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em;

}

#myTable td:first-child{
    padding-left: 5px;
}




/*NEWS*/
.newsTitle{
    border-bottom: 1px solid #ccc;
    font-size: 2em;
}

.newsDate{
    font-size: 0.7em;
    margin-bottom: 20px;
}

.card-deck p{
    text-align: justify;
    padding: 0 10px;
}

/*LOGIN*/
.loginContainer{
    background: url(../images/login-background.jpg) no-repeat center center fixed;       
    background-size: cover;       
    height: 100vh;
    width: 100vw;
}

.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;    
}

.loginContainer h1{
    margin: 0;
    padding: 0 0 40px;
    font-size: 26px;
    text-align: center;
}

.loginContainer p{
    margin: 0;
    padding: 0;
    font-weight: bold;    
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: rgba(255,255,255,0.1);
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;   
}

.login-box input[type="submit"]{
    margin-top: 45px;
    border: none;
    outline: none;
    height: 40px;    
    background: #1c8adb;
    color: #fff;
    font-size: 18px;    
}


/*User-Info*/
.userinfo-box{    
    min-width: fit-content;
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    background: ghostwhite;  
    margin: 100px 0 auto;   
    padding: 50px 0 0;    
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: calc(50% - 100px);
}
.userinfo-box h2{
    margin: 0;
    padding: 60px 0 20px;
    font-size: 36px;
    text-align: center;
}

.userinfo-box table tr > td:nth-of-type(1) {
    font-weight: bold;
    text-align: right;
}